# Imports, helper functions, and context initiation

In [1]:
from h2o.automl import H2OAutoML
from pyspark.sql import SparkSession
from pysparkling import *
from pyspark import SparkContext
from pyspark.sql.functions import *
from h2o.estimators.gbm import H2OGradientBoostingEstimator


def toDoubleSafe(v):
    try:
        return float(v)
    except ValueError:
        return str(v)
    
# define a udf that extracts the speaker id out of the filename
def get_speaker(filename):
    i = filename.index('sp')
    return int(filename[i+2:i+6])
speaker = udf(get_speaker)

In [2]:
ss = SparkSession.builder.getOrCreate()
hc = H2OContext.getOrCreate(ss)

Connecting to H2O server at http://10.1.141.71:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         15 secs
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.1
H2O cluster version age:    30 days
H2O cluster name:           sparkling-water-kathleenyi_local-1579224326188
H2O cluster total nodes:    1
H2O cluster free memory:    809 Mb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://10.1.141.71:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, Amazon S3, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

Sparkling Water Context:
 * Sparkling Water Version: 3.28.0.1-1-2.4
 * H2O name: sparkling-water-kathleenyi_local-1579224326188
 * cluster size: 1
 * list of used nodes:
  (executorId, host, port)
  ------------------------
  (driver,10.1.141.71,54321)
  ------------------------

  Open H2O Flow in browser: http://10.1.141.71:54321 (CMD + click in Mac OSX)

In [3]:
# initialize h2o context
hc

Sparkling Water Context:
 * Sparkling Water Version: 3.28.0.1-1-2.4
 * H2O name: sparkling-water-kathleenyi_local-1579224326188
 * cluster size: 1
 * list of used nodes:
  (executorId, host, port)
  ------------------------
  (driver,10.1.141.71,54321)
  ------------------------

  Open H2O Flow in browser: http://10.1.141.71:54321 (CMD + click in Mac OSX)

In [4]:
# initialize spark context
sc = SparkContext.getOrCreate()

# Create joined data set from each chunk to labels

In [5]:
# read the file with features
features = ss.read.csv('final_chunk.csv', header=True)
# read the file of speaker id and gender
gender = ss.read.csv('Lab41-SRI-VOiCES-speaker-gender-dataset.csv', header=True)

AnalysisException: 'Path does not exist: file:/Users/kathleenyi/Documents/GitHub/pyspark_ml_on_audio_dataset/final_chunk.csv;'

In [ ]:
# process speaker id
features_df = features.withColumn('Speaker', speaker('FileName')).drop('FileName', '_c0')

In [ ]:
# join the dataframe
results = features_df.join(gender, on='Speaker', how='leftOuter')

In [ ]:
results.summary()

In [ ]:
audio = results.rdd

# Data cleaning (and import data, if not from above)

In [ ]:
# load and convert the data into an RDD
# audio = sc.textFile("INPUT_FILE_PATH", 8).map(lambda x:  x.split(", "))
audio_raw = audio.map(lambda row: [toDoubleSafe(x) for x in row])

# OR straight to H2O DF

# import h2o
# audio = h2o.import_file("INPUT_FILE_PATH")
# audio_df = hc.as_h2o_frame(audio)

In [ ]:
# convert data into H2O dataframe
audio_h2o = hc.as_h2o_frame(audio_raw, "audio") # not sure what the second argument does. it's name arg

In [ ]:
# rename columns
audio_h2o = audio_h2o.set_names(['Speaker', 'Centroid', 'variance', 'skewness', 'kurtosis', 'mfcc1', 
                     'mfcc2', 'mfcc3', 'mfcc4', 'mfcc5', 'mfcc6', 'mfcc7', 'mfcc8', 'mfcc9',
                     'mfcc10', 'mfcc11', 'mfcc12', 'roll_off_max', 'roll_off_min', 'flatness',
                     'zeroCrossingRate', 'rms', 'Gender', 'DataSet'])

In [ ]:
# data cleaning
# set our label column
audio_h2o.set_name(col='Gender',   # switch here for gender <-> speaker (1/2)
                   name='label')

# convert categoricals columns into enum
audio_h2o["label"] = audio_h2o["label"].asfactor()

# drop columns filename and dataset
drop_dataset_audio_h2o = audio_h2o.drop('DataSet')
drop_dataset_audio_h2o = drop_dataset_audio_h2o.drop('Speaker') # switch here for gender <-> speaker (2/2)

In [ ]:
# isolate the predictors
predictors = drop_dataset_audio_h2o.names[:]
predictors.remove("label")

# Create train test split

In [ ]:
# train, test, validation
audio_train, audio_test, audio_valid = drop_dataset_audio_h2o.split_frame(ratios=[.7, .15])
combo_audio_valid = audio_test.rbind(audio_valid)

In [ ]:
audio_train.show(5)

In [ ]:
audio_train.columns[-1]

# Specific model attempt

In [ ]:
# not automl
# n_folds = 3
# fold_assignment = "Modulo"
# keep_cross_validation_predictions = True

# model_gbm = H2OGradientBoostingEstimator(ntrees=538,
#                                          max_depth=6,
#                                          learn_rate=0.1,
#                                          nfolds=n_folds,
#                                          fold_assignment=fold_assignment,
#                                          keep_cross_validation_predictions=keep_cross_validation_predictions)
# model_gbm.train(x=predictors,
#                 y="label",
#                 training_frame=audio_train)

In [ ]:
# model_gbm

In [ ]:
# print(model_gbm.auc(train=True))
# print(model_gbm.auc(valid=True))

# Running auto-ml

In [ ]:
# initiate automl
model_automl = H2OAutoML(max_models = 10, seed = 1, nfolds = 3)
model_automl.train(x=predictors,
                y='label',
                training_frame=audio_train)

In [ ]:
# see which models are the top performing (binary gender)
model_automl.leaderboard

In [22]:
# checking out the top models (binary gender)
import h2o
h2o.get_model("StackedEnsemble_AllModels_AutoML_20200114_210418")

Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_AllModels_AutoML_20200114_210418

No model summary for this model

ModelMetricsBinomialGLM: stackedensemble
** Reported on train data. **

MSE: 0.0028651479421049
RMSE: 0.0535270767192166
LogLoss: 0.046807488597233216
Null degrees of freedom: 6577
Residual degrees of freedom: 6571
Null deviance: 9116.474970219499
Residual deviance: 615.7993199852004
AIC: 629.7993199852004
AUC: 0.999999815042518
AUCPR: 0.980918128790587
Gini: 0.999999630085036

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.6834988261878747:

               F       M   Error           Rate
0      F  3224.0     0.0     0.0   (0.0/3224.0)
1      M     1.0  3353.0  0.0003   (1.0/3354.0)
2  Total  3225.0  3353.0  0.0002   (1.0/6578.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.683499     0.999851  200.0
1                        max f2   0.334736     0.999881  203.0
2                  max f0point5   0.683499     0.999940  200.0
3                  max accuracy   0.683499     0.999848  200.0
4                 max precision   0.975705     1.000000    0.0
5                    max recall   0.334736     1.000000  203.0
6               max specificity   0.975705     1.000000    0.0
7              max absolute_mcc   0.683499     0.999696  200.0
8    max min_per_class_accuracy   0.683499     0.999702  200.0
9   max mean_per_class_accuracy   0.683499     0.999851  200.0
10                      max tns   0.975705  3224.000000    0.0
11                      max fns   0.975705  3290.000000    0.0
12                      max fps   0.026443  3224.000000  399.0
13                      max tps   0.334736  3354.000000  203.0
14                      max tnr   0.975705     1.000000    0.0
15                      max fnr   0.975705     0.980918    0.0
16                      max fpr   0.026443     1.000000  399.0
17                      max tpr   0.334736     1.000000  203.0

Gains/Lift Table: Avg response rate: 50.99 %, avg score: 51.09 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.010033,0.975561,1.96124,1.961240,1.000000,0.975706,1.000000,0.975706,0.019678,0.019678,96.124031,96.124031
1,,2,0.020067,0.975356,1.96124,1.961240,1.000000,0.975451,1.000000,0.975579,0.019678,0.039356,96.124031,96.124031
2,,3,0.030100,0.975140,1.96124,1.961240,1.000000,0.975248,1.000000,0.975468,0.019678,0.059034,96.124031,96.124031
3,,4,0.040134,0.974925,1.96124,1.961240,1.000000,0.975032,1.000000,0.975359,0.019678,0.078712,96.124031,96.124031
4,,5,0.050015,0.974642,1.96124,1.961240,1.000000,0.974774,1.000000,0.975244,0.019380,0.098092,96.124031,96.124031
5,,6,0.100030,0.973222,1.96124,1.961240,1.000000,0.973938,1.000000,0.974591,0.098092,0.196184,96.124031,96.124031
6,,7,0.150046,0.971675,1.96124,1.961240,1.000000,0.972515,1.000000,0.973899,0.098092,0.294275,96.124031,96.124031
7,,8,0.200061,0.969531,1.96124,1.961240,1.000000,0.970644,1.000000,0.973085,0.098092,0.392367,96.124031,96.124031
8,,9,0.300091,0.962779,1.96124,1.961240,1.000000,0.966419,1.000000,0.970863,0.196184,0.588551,96.124031,96.124031
9,,10,0.399970,0.948854,1.96124,1.961240,1.000000,0.956980,1.000000,0.967396,0.195886,0.784436,96.124031,96.124031
10,,11,0.500000,0.869232,1.96124,1.961240,1.000000,0.926653,1.000000,0.959245,0.196184,0.980620,96.124031,96.124031
11,,12,0.600030,0.059204,0.19374,1.666582,0.098784,0.163408,0.849759,0.826572,0.019380,1.000000,-80.626046,66.658221
12,,13,0.699909,0.042795,0.00000,1.428758,0.000000,0.049513,0.728497,0.715684,0.000000,1.000000,-100.000000,42.875760
13,,14,0.799939,0.035004,0.00000,1.250095,0.000000,0.038564,0.637400,0.631012,0.000000,1.000000,-100.000000,25.009502
14,,15,0.899970,0.030245,0.00000,1.111149,0.000000,0.032476,0.566554,0.564486,0.000000,1.000000,-100.000000,11.114865
15,,16,1.000000,0.026243,0.00000,1.000000,0.000000,0.028336,0.509881,0.510854,0.000000,1.000000,-100.000000,0.000000

ModelMetricsBinomialGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 0.07639933663409613
RMSE: 0.2764042992322951
LogLoss: 0.25908032762291733
Null degrees of freedom: 6577
Residual degrees of freedom: 6571
Null deviance: 9119.292468638847
Residual deviance: 3408.460790207101
AIC: 3422.460790207101
AUC: 0.9611701649524808
AUCPR: 0.9482061890806117
Gini: 0.9223403299049615

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.4742025235469069:

               F       M   Error             Rate
0      F  2884.0   340.0  0.1055   (340.0/3224.0)
1      M   324.0  3030.0  0.0966   (324.0/3354.0)
2  Total  3208.0  3370.0  0.1009   (664.0/6578.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.474203     0.901249  203.0
1                        max f2   0.152086     0.925713  305.0
2                  max f0point5   0.828278     0.918972   97.0
3                  max accuracy   0.525536     0.899514  190.0
4                 max precision   0.976100     1.000000    0.0
5                    max recall   0.027395     1.000000  397.0
6               max specificity   0.976100     1.000000    0.0
7              max absolute_mcc   0.525536     0.799069  190.0
8    max min_per_class_accuracy   0.496052     0.898573  197.0
9   max mean_per_class_accuracy   0.525536     0.899604  190.0
10                      max tns   0.976100  3224.000000    0.0
11                      max fns   0.976100  3299.000000    0.0
12                      max fps   0.026041  3224.000000  399.0
13                      max tps   0.027395  3354.000000  397.0
14                      max tnr   0.976100     1.000000    0.0
15                      max fnr   0.976100     0.983602    0.0
16                      max fpr   0.026041     1.000000  399.0
17                      max tpr   0.027395     1.000000  397.0

Gains/Lift Table: Avg response rate: 50.99 %, avg score: 50.99 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.010033,0.975647,1.961240,1.961240,1.000000,0.976036,1.000000,0.976036,0.019678,0.019678,96.124031,96.124031
1,,2,0.020067,0.975060,1.961240,1.961240,1.000000,0.975340,1.000000,0.975688,0.019678,0.039356,96.124031,96.124031
2,,3,0.030100,0.974523,1.961240,1.961240,1.000000,0.974810,1.000000,0.975395,0.019678,0.059034,96.124031,96.124031
3,,4,0.040134,0.974149,1.961240,1.961240,1.000000,0.974317,1.000000,0.975126,0.019678,0.078712,96.124031,96.124031
4,,5,0.050015,0.973883,1.961240,1.961240,1.000000,0.974020,1.000000,0.974907,0.019380,0.098092,96.124031,96.124031
5,,6,0.100030,0.972093,1.955279,1.958260,0.996960,0.973091,0.998480,0.973999,0.097794,0.195886,95.527909,95.825970
6,,7,0.150046,0.969345,1.949318,1.955279,0.993921,0.970784,0.996960,0.972927,0.097496,0.293381,94.931788,95.527909
7,,8,0.200061,0.965258,1.937395,1.950808,0.987842,0.967531,0.994681,0.971578,0.096899,0.390280,93.739544,95.080818
8,,9,0.300091,0.949015,1.892686,1.931434,0.965046,0.958558,0.984802,0.967238,0.189326,0.579606,89.268632,93.143423
9,,10,0.399970,0.884934,1.740340,1.883715,0.887367,0.924534,0.960471,0.956574,0.173822,0.753429,74.033958,88.371504
10,,11,0.500000,0.544154,1.368099,1.780561,0.697568,0.745273,0.907875,0.914301,0.136852,0.890280,36.809924,78.056052
11,,12,0.600030,0.151914,0.679579,1.597017,0.346505,0.315633,0.814289,0.814498,0.067979,0.958259,-32.042129,59.701707
12,,13,0.699909,0.063914,0.250752,1.404902,0.127854,0.095110,0.716334,0.711840,0.025045,0.983304,-74.924781,40.490238
13,,14,0.799939,0.041609,0.116244,1.243759,0.059271,0.050916,0.634170,0.629193,0.011628,0.994931,-88.375627,24.375882
14,,15,0.899970,0.032526,0.032787,1.109161,0.016717,0.036618,0.565541,0.563329,0.003280,0.998211,-96.721331,10.916091
15,,16,1.000000,0.025540,0.017884,1.000000,0.009119,0.029483,0.509881,0.509928,0.001789,1.000000,-98.211635,0.000000

In [21]:
predictions = model_automl.predict(combo_audio_valid)
predictions

stackedensemble prediction progress: || 100%

predict,F,M
F,0.971652,0.0283485
F,0.903522,0.0964781
F,0.81969,0.18031
F,0.894212,0.105788
M,0.0650669,0.934933
F,0.664082,0.335918
M,0.221296,0.778704
M,0.0325569,0.967443
M,0.0470458,0.952954
M,0.335021,0.664979

In [ ]:
sc.stop()